header{
    height: 8vh;

    .wrapper{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            
            li{
                padding-left: 60px;
            }
        }
    }

    .hamburger{
        display: none;
    }
}