.basic-information{
    display: flex;
    position: relative;
    height: 50vh;

    .wrapper{
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .basic-information__content{
        padding-left: 80px;
        text-align: right;
        position: absolute;
        right: 0;
        width: 50%;

        p{
            padding-bottom: 50px;
        }

        h2{
            padding: 20px 0 25px 0;
        }
    }

    .basic-information__media{
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background-image: url("/src/images/plant-care-guide-836x746.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}