.hero{
    display: flex;
    height: 85vh;
    position: relative;

    .wrapper{
        display: flex;
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);

    }

    .hero__content{
        width: 50%;
        padding-right: 80px;

        h1{
            padding: 20px 0 10px 0;
        }
    }

    .hero__media{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 50%;
        height: 85vh;
        background-image: url("/src/images/green-room-720x885.jpg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
    }
}