  h1 {
    font: 400 var(--font-size-h1) var(--font-secondary);
  }
  
  h2 {
    font: 400 var(--font-size-h2) var(--font-secondary);
    line-height: 1.1;
  }
  
  h3 {
    font: 100 var(--font-size-h3) var(--font-tertiary);
  }