:root {

    --color-content-primary: #000;
    --color-content-secondary: #415145;
    --color-content-tertiary: #82A189;
    --color-content-action: #fff;

    --color-background-primary: #fff;
    --color-background-secondary: #82A189;
    --color-background-tertiary: #E7E7E9;
    --color-background-action: #82A189;
  }