html{ 
    font-size: 16px;
 }
 body{
    font-family: var(--font-primary);
    font-size: var(--font-size-content);
    color: var(--color-content-primary);
    line-height: 1.7;
    font-weight: 400;
 }